header {
    width: 100%;
    height: 150px;
}

.header-image{
    width: 100vw;
    height: 60vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.widget {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.page-wrap-home{
    padding: 10px 20px;
    background-color: white;
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -80px;
}

.page-wrap{
    padding: 20px 0;
}

.top-bar {
    text-align: center;
    position: absolute;
    z-index: 1;
    top: 30%;
    left: 10%;

}

.top-bar li {
    display: inline;
}


.top-bar a {
    padding: 1rem 1rem;
    color : #d14925;
    
}

.top-bar a:hover {
    color: black; 
}

.logo {
    height: 100px;
    /* width: 100%; */
    padding-left: 1rem;
}


.title {
    text-align: center;
    width: 100%;
    /* height: 100px; */
    padding-top: 3rem;
}

.siteTitle{
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 30%;
    text-shadow: 2px 2px 4px #000000;
}

.footer-size {
    font-size: 12px;
}

footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
}

.theme-color {
    color : #d14925;
    
}

.theme-color-2 {
    color: #2d4292;  
}

.my-border {
    border : 1px solid #2d4292;
}

.card-body a:hover {
    color: white;
    background-color: #d14925;
    border : 2px solid #d14925;
}

.title-decoration {
    width: 8%;
    border-top: 5px solid #2d4292;
}



.billingFields .form-row{
    width: 100% !important;
}

.billingFields .form-row .woocommerce-input-wrapper{
    width: 100% !important;
}

.billingFields .form-row .woocommerce-input-wrapper input,
.billingFields .form-row .woocommerce-input-wrapper select{
    height: calc(1.5em + .75rem + 2px) !important;
    padding: .375rem .75rem !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
}

.billingFields .form-row .woocommerce-input-wrapper textarea{
    min-height: 200px !important;
    max-height: 800px !important;
    padding: .375rem .75rem !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
}


.input-text {
    border-radius: 5px;
    border : 1px solid green;
    padding: 0.3rem 1rem;
    margin-left: 1rem;
}

#order_comments {
    width: 15rem;
    height: 5rem;
}